<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveAvenue</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="script.js" defer></script>
</head>
<body class="no-transition">
    <div id="app" @load>
        <header>
            <nav>
            </nav>
            <h1>HealthHustle</h1>

            <label id="darkmode">
                <input type="checkbox" v-model="darkmode" @change="toggleDarkmode">
                <div class="toggle"></div>
            </label>

        </header>
        <section id="main">
            <section id="workout-info">
                <h3>{{selectedWorkout.name}}</h3>
                <div class="repControl">
                    <p>Sets: </p>
                    <input class="repcount" type="number" :value="selectedWorkout.setsPerExercise" @input="selectedWorkout.setsPerExercise = $event.target.value">
                    <p>Reps: </p>
                    <input class="repcount" type="number" :value="selectedWorkout.repsPerExercise" @input="selectedWorkout.repsPerExercise = $event.target.value">
                </div>
                <h3>{{selectedWorkout.calcCalories}}</h3>
                <h3>{{selectedWorkout.estimateTime}}</h3>
                <ul>
                    <li v-for="exercise in selectedWorkout.Wexercises"><strong>{{exercise.name}}</strong> 
                        <label id="delete-exercise">
                            ❌
                            <button @click="removeExerciseFromWorkout(exercise)"></button>
                        </label>
                        <p>{{exercise.description}}</p>
                    </li>
                    
                </ul>
            </section>
            <h2>Workouts</h2>
            <ul id="workouts">
                <li v-for="w in workouts" @click="selectedWorkout = w" class="workoutdiv">
                    <h2>{{w.name}}</h2>
                    <p><span id="workout-icon"></span>{{w.Wexercises.length}} {{w.Wexercises.length == 1 ? "exercise" : "exercises"}}</p>
                    <p><span id="time-icon"></span>{{w.estimateTime}}</p>
                    <p><span id="cal-icon"></span>{{w.calcCalories}} calories</p>
                </li>
                <li>
                    <label id="addLabel" @click="popup = true" for="add"><button id="add"></button></label>
                </li>
            </ul>

            <!-- HTML for creating workout popup -->
            <template v-if="popup">
                <div id="popup" ref="popup" tabindex="0">
                    <h3>Workout Builder</h3>
                    <form id="workout-form" @submit.prevent="addWorkout">
                        <input type="text" v-model="workoutname" placeholder="Name your workout" autofocus required>
                        <button type="submit">Add Workout</button>
                        <p id="alert" v-if="alert"> You must select atleast one exercise!</p>
                    </form>
                    <label id="close-popup">
                        ❌
                        <button @click="closePopup"></button>
                    </label>
                    <p>Select exercises:</p>
                    <ul class="exercise-list">
                        <li v-for="ex in exercises" @mouseover="exercise = ex, resetTimeout" @mouseleave="resetExercise"@click="addExerciseToWorkout(ex), $event.target.classList.toggle('selected')">{{ex.name}}</li>
                        <li id="AddExerciseLI"><label id="AddExerciseLabel"><button @click="showExerciseForm = true" style="border: none;"></button></label>
                    </ul>
                    <div id="exercise-adder" v-if="showExerciseForm"> 
                        <form @submit.prevent="addExercise">
                        <input type="text" v-model="newExerciseName" placeholder="Name your exercise..." autofocus required>
                        <input type="text" v-model="newExerciseDescription" placeholder="Write a description...">
                        <button type="submit">Add Exercise</button>
                        <button @click="showExerciseForm=false">Close Window</button>
                        </form>
                    </div>
                    <div id="exercise-info" v-if="exercise.name != '' && !showExerciseForm">
                        <h3> {{exercise.name}} </h3>
                        <p> {{exercise.description}}</p>
                        <p> <strong>Primary muscles:</strong>  {{exercise.muscleGroups}}</p>
                    </div>
                    
                </div>
            </template>
        </section>
    </div>
</body>

</html>