<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveAvenue</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="script.js" defer></script>
</head>

<body>
    <div id="app" @load>
        <header>
            <nav>
            </nav>
            <h1>HealthHustle</h1>

            <label id="darkmode">
                <input type="checkbox" v-model="darkmode" @onclick>
                <div class="toggle"></div>
            </label>

        </header>
        <section id="main">
            <ul>
                <li v-for="exercise in selectedWorkout.Wexercises"> {{exercise.name}}</li>
            </ul>
            <h2>Workouts</h2>
            <ul id="workouts">
                <li v-for="w in workouts" @click="selectedWorkout = w" class="workoutdiv">
                    <h2>{{w.name}}</h2>
                    <p>{{w.Wexercises.length}} {{w.Wexercises.length == 1 ? "exercise" : "exercises"}}</p>
                </li>
                <li>
                    <label id="addLabel" @click="popup = true" for="add"><button id="add"></button></label>
                </li>
            </ul>

            <!-- HTML for creating workout popup -->
            <template v-if="popup">
                <div id="popup" ref="popup" tabindex="0">
                    <form @submit.prevent="addWorkout">
                        <input type="text" v-model="workoutname" placeholder="Name your workout..." autofocus required>
                        <button type="submit">Add Workout</button>
                        <button @click="closePopup">Close Window</button>
                        <p v-if="alert"> You must select atleast one exercise!</p>
                    </form>
                    <ul class="exercise-list">
                        <li v-for="ex in exercises" @mouseover="exercise = ex" @mouseleave="resetExercise"@click="addExerciseToWorkout(ex), $event.target.classList.toggle('selected')">{{ex.name}}</li>
                        <li id="AddExerciseLI"><label id="AddExerciseLabel"><button @click="showExerciseForm = true" style="border: none;"></button></label>
                    </ul>
                    <div id="exercise-adder" v-if="showExerciseForm"> 
                        <form @submit.prevent="addExercise">
                        <input type="text" v-model="newExerciseName" placeholder="Name your exercise..." autofocus required>
                        <input type="text" v-model="newExerciseDescription" placeholder="Write a description...">
                        <button type="submit">Add Exercise</button>
                        <button @click="showExerciseForm=false">Close Window</button>
                        </form>
                    </div>
                    <div id="exercise-info" v-if="exercise.name != '' && !showExerciseForm">
                        <h3> {{exercise.name}} </h3>
                        <p> {{exercise.description}}</p>
                        <p> <strong>Primary muscles:</strong>  {{exercise.muscleGroups}}</p>
                    </div>
                    
                </div>
            </template>
        </section>
    </div>
</body>

</html>