<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActiveAvenue</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="script.js" defer></script>
</head>

<body class="no-transition">
    <div id="app" @load>
        <header>
            <nav>
            </nav>
            <h1>HealthHustle</h1>

            <label id="darkmode">
                <input type="checkbox" v-model="darkmode" @change="toggleDarkmode">
                <div class="toggle"></div>
            </label>
        </header>
        <section id="main">
            <section id="workout-info">
                <template v-if="selectedWorkout.deletable">
                    <button id="deleteWorkout" @click="deleteWorkout">Delete workout</button>
                </template>
                <div id="title">
                    <h2>{{selectedWorkout.name}}</h2>
                    <p>This is your workout!</p>
                    <p>On the left you can see your exercises and on the right is a diagram of the targeted muscle
                        groups.</p>
                </div>
                <!-- Diagram -->
                <div id=diagram>
                    <svg width="250" height="250" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" y="0" width="250" height="250" fill="transparent" />
                        <g transform="translate(25,25)">
                            <path class="pathMain" d="M 100 100 H 5 M 100 100 H 195 M 100 100 V 5 M 100 100 V 195"
                                stroke="black" fill="transparent" />
                            <path class="path" d="M 100 120 L 120 100 L 100 80 L 80 100 L 100 120 " stroke="grey"
                                fill="transparent" />
                            <path class="path" d="M 100 140 L 140 100 L 100 60 L 60 100 L 100 140 " stroke="grey"
                                fill="transparent" />
                            <path class="path" d="M 100 160 L 160 100 L 100 40 L 40 100 L 100 160 " stroke="grey"
                                fill="transparent" />
                            <path class="path" d="M 100 180 L 180 100 L 100 20 L 20 100 L 100 180 " stroke="grey"
                                fill="transparent" />
                            <path class="pathMain" d="M 100 195 L 195 100 L 100 5 L 5 100 L 100 195 " stroke="grey"
                                fill="transparent" />
                            <text class="text" x="100" y="215" text-anchor="middle" font-size="12">Legs</text>
                            <text class="text" x="100" y="-5" text-anchor="middle" font-size="12">Upper Body</text>
                            <text class="text" x="-13" y="103" text-anchor="middle" font-size="12">Core</text>
                            <text class="text" x="212" y="103" text-anchor="middle">Arms</text>

                            <!-- Diagram lines below -->
                            <path :d="selectedWorkout.calcSvgLine" stroke="#FA8128" fill="rgba(250, 127, 40, 0.4)"
                                style="stroke-width: 2px;" />
                        </g>
                    </svg>
                    <div id="stats">
                        <h4>Workout Info:</h4>
                        <p><span id="workout-icon"></span>{{selectedWorkout.Wexercises.length}}
                            {{selectedWorkout.Wexercises.length == 1 ? "exercise" :
                            "exercises"}}</p>
                        <p><span id="time-icon"></span>~{{selectedWorkout.estimateTime}}</p>
                        <p><span id="cal-icon"></span>~{{selectedWorkout.calcCalories}} calories</p>
                    </div>
                </div>
                <div id="exercise-control">
                    <div id="exercises-top">
                        <h3>Exercises</h3>
                        <button id="showExercises" @click="addExerciseMenu = !addExerciseMenu"> Add more
                            {{addExerciseMenu ? "-": "+"}}
                        </button>
                        <template v-if="addExerciseMenu">
                            <div id="popupmenu">
                                <p v-if="exercisesNotInWorkout().length > 0"><strong>Click to add exercises</strong></p>
                                <p v-else> <strong>No exercises to add!</strong></p>
                                <ul>
                                    <li v-for="ex in exercisesNotInWorkout()" @click="addToSelectedWorkout(ex)">
                                        {{ex.name}}</li>
                                </ul>
                            </div>
                        </template>
                    </div>
                    <ul>
                        <li v-for="exercise in selectedWorkout.Wexercises">
                            <p>{{exercise.name}}</p>
                            <div id="toggling">
                                <button id="descToggle" @click="exercise.showDescription = !exercise.showDescription">
                                    {{ exercise.showDescription ? 'Hide' : 'Show' }} description
                                </button>
                                <label id="delete-exercise">
                                    ❌
                                    <button @click="removeExerciseFromWorkout(exercise)"></button>
                                </label>
                            </div>
                            <p v-if="exercise.showDescription">{{exercise.description}}</p>
                        </li>
                    </ul>
                    <h3>Sets & Reps</h3>
                    <div class="repControl">
                        <p>Sets: </p>
                        <input class="repcount" type="number" :value="selectedWorkout.setsPerExercise"
                            @input="selectedWorkout.setsPerExercise = $event.target.value">
                        <p>Reps: </p>
                        <input class="repcount" type="number" :value="selectedWorkout.repsPerExercise"
                            @input="selectedWorkout.repsPerExercise = $event.target.value">
                    </div>
                </div>
            </section>
            <div id="workouts-div">
                <h2>My Workouts</h2>
                <ul id="workouts">
                    <li v-for="w in workouts" @click="selectedWorkout = w" class="workoutdiv">
                        <h2>{{w.name}}</h2>
                        <p><span id="workout-icon"></span>{{w.Wexercises.length}} {{w.Wexercises.length == 1 ?
                            "exercise" :
                            "exercises"}}</p>
                        <p><span id="time-icon"></span>~{{w.estimateTime}}</p>
                        <p><span id="cal-icon"></span>~{{w.calcCalories}} calories</p>
                    </li>
                    <li id="addContainer">
                        <label id="addLabel" for="add" @click="popup = true, scrollPopup()"><button
                                id="add"></button></label>
                    </li>
                </ul>
            </div>

            <!-- HTML for creating workout popup -->
            <template v-if="popup">
                <div id="popup">
                    <h3 id="workout-builder-header">Workout Builder</h3>
                    <form id="workout-form" @submit.prevent="addWorkout">
                        <p>Name:</p>
                        <input type="text" v-model="workoutname" placeholder="Name your workout" autofocus required>
                        <button type="submit">Add Workout</button>
                        <p id="alert" v-if="alert"> You must select atleast one exercise!</p>
                    </form>
                    <label id="close-popup">
                        ❌
                        <button @click="closePopup"></button>
                    </label>
                    <p>Select exercises:</p>
                    <ul class="exercise-list">
                        <li v-for="ex in exercises" @mouseover="exercise = ex, resetTimeout"
                            @click="addExerciseToWorkout(ex), $event.target.classList.toggle('selected')">{{ex.name}}
                            <img src="./imgs/check.png" alt="123">
                        </li>
                        <li id="AddExerciseLI"><label id="AddExerciseLabel"><button @click="showExerciseForm = true"
                                    style="border: none;"></button></label>
                    </ul>
                    <div id="exercise-adder" v-if="showExerciseForm">
                        <h3>Add Exercise</h3>
                        <label id="close-popup">❌<button
                                @click="showExerciseForm=false, newExerciseMuscleGroup = []"></button></label>
                        <form @submit.prevent="addExercise">
                            <p>Exercise name:</p>
                            <input type="text" v-model="newExerciseName" placeholder="Name your exercise" autofocus
                                required>
                            <p>Description (optional):</p>
                            <input v-model="newExerciseDescription" placeholder="Write a description">
                            <p>Targeted muscle groups: </p>
                            <div id="checkboxes">
                                <input id="upper" type="checkbox" v-model="newExerciseMuscleGroup" value="Upper Body">
                                <label for="upper">
                                    Upper Body
                                    <img src="./imgs/check.png" alt="123">
                                </label>
                                <input id="legs" type="checkbox" v-model="newExerciseMuscleGroup" value="Legs">
                                <label for="legs">
                                    Legs
                                    <img src="./imgs/check.png" alt="123">
                                </label>
                                <input id="arms" type="checkbox" v-model="newExerciseMuscleGroup" value="Arms">
                                <label for="arms">
                                    Arms
                                    <img src="./imgs/check.png" alt="123">
                                </label>
                                <input id="core" type="checkbox" v-model="newExerciseMuscleGroup" value="Core">
                                <label for="core">
                                    Core
                                    <img src="./imgs/check.png" alt="123">
                                </label>
                                <button type="submit">Add Exercise</button>
                            </div>
                            <p id="alertName" v-if="alertName"> You cannot create an exercise with an identical name!
                            </p>
                        </form>
                    </div>
                    <div id="exercise-info" v-if="exercise.name != '' && !showExerciseForm">
                        <h3> {{exercise.name}} </h3>
                        <p> {{exercise.description}}</p>
                        <p> <strong>Primary muscles:</strong> <span v-for="muscle in exercise.muscleGroups">{{ muscle +
                                " " }} </span> </p>
                    </div>

                </div>
            </template>
        </section>
        <footer>

        </footer>
    </div>
</body>

</html>