
:root{
    --main: black;
    --accent: #357960;
    --background: #f6f6f6;
    --background-2: white;
    --path-color: black;
    --hover-li: #e6e6e6;
    --text-color: black;
    --situp-logo: url(./imgs/situps_dark.png);
    --time-logo: url(./imgs/time_dark.png);
    --cals-logo: url(./imgs/cals_dark.png);
}

:root.darkmode {
    --accent: #357960;
    --background: #1a1a1a;
    --background-2: #242424;
    --path-color: rgb(92, 92, 92);
    --hover-li: rgb(95, 95, 95);
    --text-color: white;
    --situp-logo: url(./imgs/situps_light.png);
    --time-logo: url(./imgs/time_light.png);
    --cals-logo: url(./imgs/cals_light.png);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web',sans-serif;
    background-color: var(--background);
    z-index: -1;
    color: var(--text-color);
    transition: background-color 500ms ease, color 500ms ease;
}

.no-transition{
    transition: none !important;
}

header {
    display: flex;
    height: 5em;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

li h3 {
    margin: 1em 0em 1em 3em
}

/*--------------
    dark mode button css
------------------*/

#darkmode input{
    display: none;
}

#darkmode {
    position: absolute;
    right: 10%;
    border: 3px solid white;
    width: 3.5em;
    height: 1.5em;
    border-radius: 1.2em;
    background-color: rgb(102, 102, 102);}

#darkmode .toggle {
    width: 1.34em;
    height: 100%;
    background-color: white;
    border-radius: 1em;
    transition: transform 200ms ease;
}

#darkmode input:checked + .toggle{
    transform: translateX(2em);
}

/* ---------------------------

    SVG css below

----------------------------
*/


.text {
    font-size: 12px;
    font-weight: 700;
    fill: var(--text-color);
}

.path , .pathMain{
    stroke: var(--path-color);
}

.path {
    opacity: 0.2;
}


/*
---------------------------

 Workout info CSS beloc

---------------------------
*/


#workout-info {
    display: grid;
    grid-template: "a a" "b c" / 1fr 1fr;
}

#workout-info h2 {
    grid-area: a;
    text-align: center;
    margin: 3em 0;
    font-size: 24px;
}

#workout-info h3 {
    text-align: start;
}

h4 {
}

#diagram {
    margin-left: 10rem;
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}

#stats {
    width: 120px;
    line-height: 2em;
}

svg {
    margin-right: 3em;
    text-align: end;
}

#exercise-control {
    border-right: 1px solid var(--accent);
    grid-area: b;
}

#exercise-control li {
    margin: 0.5em 0;
}

#toggling {
}

#descToggle {
    background-color: var(--background);
    color: #5ecba3;
    border: none;
    font-style: italic;
    opacity: 0.8;
}

#descToggle:hover {
    opacity: 1;
}

#delete-exercise {
    visibility: hidden;
    font-size: 14px;
    padding: 0.5em;
    opacity: 0.6;
}

#exercise-control li:hover #delete-exercise {
    visibility: visible;
}

@media(max-width: 800px) {
    #workout-info {
        grid-template: "a" "c" "b";
        justify-content: center;
    }
    
    #diagram {
        flex-direction: row;
        margin: 0;
        padding-bottom: 3em;
        border-bottom: 1px solid var(--accent);
    }
    
    #exercise-control {
        border-right: none;
        padding-top: 3em;
        word-wrap: break-word;
        width: 420px;
    }
    #workouts-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

}

@media(max-width: 450px){
    #workouts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
   

}


/*





*/
#main {
    width: clamp(400px, 100%, 900px);
    margin: auto;
}

#workouts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 1em;
}

#workouts li {
    list-style: none;
    background-color: var(--background-2);
    width: clamp(200px, 25%, 300px);
    min-height: 130px;
    border-radius: 2em;
    box-shadow: 0 0 5px 3px grey;
}

#workouts p {
    height: 20px;
    margin: 0.4em;
    display: flex;
    align-items: self-start;
}

#workouts li span, #workout-info span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0em 0.5em 0 0;
    background-position: center;
    background-size: contain;
}

#workout-icon {
    background-image: var(--situp-logo);
}

#time-icon {
    background-image: var(--time-logo);
}

#cal-icon {
    background-image: var(--cals-logo);
}

.workoutdiv {
    padding: 2em;
}

#workouts > :hover, #AddExerciseLabel:hover {
    background-color: var(--hover-li);
    cursor: pointer;
}

#workouts li:last-child{
    max-width: 100px;
    background-color: transparent;
    box-shadow: none;
}


#add {
    visibility: hidden;
}

#addLabel {
    display: flex;
    padding: 3em;
    width: 100%;
    height: 100%;
    background-image: url("imgs/add.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}



/* --------------------------------
    Popup styling 
---------------------*/

#popup {
    position: absolute;
    border-radius: 0.5em;
    width: clamp(350px, 90%, 900px);    
    margin: auto;
    background-color: var(--accent);
    z-index: 1;
    margin-top: 2em;
    padding: 1em;
}

.exercise-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 90%;
    margin: auto;
    padding: 1em;
}

.exercise-list li {
    padding: 1em;
    background-color: var(--background);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 1em;
    transition: all 500ms ease;
}



#exercise-info {
    margin: 1rem 4rem;
    display: flex;
    flex-direction: column;
}

li.selected {
    color: red;
    border: 1px solid black;
}

#AddExerciseLI{
    padding: 0;
    background-color: transparent;
    
}

#AddExerciseLabel{
    background-image: url(imgs/add.png);
    background-repeat: no-repeat;
    border-radius: 1em;
    padding: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 58px;
    background-position: center;
    background-size: 40px;
    
    
}

/* ---------------------
    Add Workout form css
---------------------*/

#exercise-adder{
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 3.75em;
}

#exercise-adder *{
    margin-right: 5px;
}

#workout-form {
    margin-left: 4em;
}

#workout-form input, #exercise-adder input {
    padding: 0.5em;
    border-radius: 0.6em;
    background-color: var(--background);
    color: var(--text-color);
}

#workout-form input::placeholder, #exercise-adder input::placeholder {
    color: var(--text-color);
    opacity: 0.8;
}

#workout-form button, #exercise-adder button {
    margin-left: 1em;
    padding: 0.5em;
}


/*


*/

#alert, #alertName {
    margin-top: 0.25em;
    color: red;
}

#popup > p {
    margin: 0.8em 0 0 3.7em;
    font-size: 18px;
}

#close-popup button {
    visibility: hidden;
}

#close-popup {
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.6;
}


#close-popup:hover, #delete-exercise:hover {
    opacity: 1;
}


#delete-exercise button {
    visibility: hidden;
}

.repcount {
    width: 3em;
}

.repControl {
    display: flex;
    gap: 0.25em;
}

#workout-builder-header{
    margin: 1rem 4rem;
}
