* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main: black;
    --accent: #357960;
}

header {
    display: flex;
    height: 5em;
    align-items: center;
    justify-content: center;
    gap: 40%;
    border-bottom: 1px solid var(--accent);
}